body{
    background-color: rgb(245, 244, 244);
    background-size:cover;
}
body{
    background-image: url(pexels-asphotograpy-96622.jpg);
    background-size: cover;
}
.hasil{
    background-color: white;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    margin-left:580px;
    margin-top: 80px;
}
.hasil h1{
    color:rgb(107, 168, 248);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
padding-top: 25px;
margin-left: 25px;
}

.tombolkiri{
    background-color: white;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    margin-left:580px;
    margin-top: 80px;
}